<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9pueE1seXDd147KRNV3CbzIcBnpb30lE</string>
	<key>GCM_SENDER_ID</key>
	<string>699178456391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daehoon.airecorderapp</string>
	<key>PROJECT_ID</key>
	<string>airecorderapp</string>
	<key>STORAGE_BUCKET</key>
	<string>airecorderapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699178456391:ios:3f123d483f3ba2ab306862</string>
</dict>
</plist>